html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    font-family: 'Source Code Pro';
    background-color: rgb(164, 204, 238);
  }
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 28px;
    display: block;
}
    li{
        display: inline-block;
        color: bisque;
    }

  li:not(:last-child) {
      margin-right: 10px;
  }

  a {
      text-decoration: none;
      color:bisque;
  }
  main {
      margin-top: 25px;
      padding-left: 25px;
  }
  .social {
    margin-bottom: 5px;
    display: block;
  }
  
  .blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #023F92;
    width: 50vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  }